{% extends 'dapricot/base.html' %}
{% load i18n static %}
{% block header %}
{% endblock %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h2>Password change</h2>
			<p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
		</div>
		
		<form method="post">
		<div class="box card half-center autoheight">
		{% csrf_token %}
		{% if form.errors %}
			<div class="box full autoheight error">
		    {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
		    </div>
		{% endif %}			
			<div class="box full autoheight error">{{ form.old_password.errors }}</div>
		    <div class="box half autoheight">{{ form.old_password.label_tag }} {{ form.old_password }}</div>
			<div class="box full autoheight error">
				{{ form.new_password1.errors }}</br>
				{{ form.new_password2.errors }}
			</div>
		    <div class="box half autoheight">
		    	{{ form.new_password1.label_tag }} {{ form.new_password1 }} </br>
		    	{{ form.new_password2.label_tag }} {{ form.new_password2 }}
		    </div>
		    <div class="box half autoheight">
		    {% if form.new_password1.help_text %}
		    <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
		    {% endif %}
		    {% if form.new_password2.help_text %}
		    <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
		    {% endif %}
			</div>
		</div>
		<div class="box card half-center autoheight">
		    <input type="submit" class="button-primary" value="{% translate 'Change my password' %}" class="default">
	    </div>
		</form>
{% endblock %}
