{% extends 'dapricot/base.html' %}
{% load i18n static %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h2 class="icon-user-add">Password reset</h2>
			<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
		</div>
		<form method="post">
			<div class="box card half-center autoheight">
				{% csrf_token %}
				
				<div class="box full autoheight">
			    {{ form.email.errors }}
			    </div>
				<div class="box half autoheight">
			    <label for="id_email">{% translate 'Email address:' %}</label>
			    </div>
				<div class="box half autoheight">
			    {{ form.email }}
			    </div>
	    	</div>
			<div class="box card half-center autoheight">
		    	<input type="submit" class="button-primary" value="{% translate 'Reset my password' %}">
		    </div>
		</form>
	</div>
</article>
{% endblock %}
